
/* Green Background for buttons */
.green-bg{
    background-color: #96C342;
}

/* Box shadow for item*/
.client-box {
    box-shadow: 0.5px 1px 1px #d3d3d3;
}


/* Opacity of overlay, opacity of color in .overlay below */
.project-item:hover .overlay {
    opacity: 1;
}

/* Item positioning */
.project-item {
    position: relative;
}

/* Carousel Image */
.image {
    display: block;
    width: 100%;
    height: auto; 
}

/* Text in the Hover Overlay on Item */
.text {
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } 


/* Text Overlay on Each Item */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(105,105,105,0.8);
}

/* Carousel Styling */
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left; }
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; margin:10px;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%; border: none; top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
