

/* Container holding the image and the text */
.container {
    position: relative;
}
  
/* Centered text */
.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centered-Left text */
.centered-left {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}

/* Links Visited Colors */
.link-visited:visited {
    color: #444;
}

.link-visited:active{
    color: #444;

}

    